[language-server]
biome = { command = "biome", args = ["lsp-proxy"] }

[language-server.deno-lsp]
command = "deno"
args = ["lsp"]
config.deno.enable = true

[language-server.codebook]
command = "codebook-lsp"
args = ["serve"]

[[language]]
name = "markdown"
language-servers = ["marksman", "ltex-ls", "codebook"]
rulers = [120]

[[language]]
name = "json"
language-servers = [
  { name = "vscode-json-language-server", except-features = [
    "format",
  ] },
  "biome",
]
auto-format = true

[[language]]
name = "jsonc"
language-servers = [
  { name = "vscode-json-language-server", except-features = [
    "format",
  ] },
  "biome",
]
auto-format = true

[[language]]
name = "toml"
auto-format = true
formatter = { command = "taplo", args = ["format", "-"] }

[[languages]]
name = "bash"
file-types = ["sh", "bash", ".functions"]
auto-format = true

[[language]]
name = "kdl"
scope = "source.kdl"
file-types = ["kdl"]
comment-token = "//"
block-comment-tokens = { start = "/*", end = "*/" }
injection-regex = "kdl"
formatter = { command = "kdlfmt", args = ["format", "-"] }
auto-format = true

[[language]]
name = "html"

[[language]]
name = "njk"
scope = "text.html.njk"
injection-regex = "njk"
file-types = ["njk"]
roots = []
formatter = { command = 'djlint', args = [
  "-",
  "--profile",
  "nunjucks",
  "--reformat",
] }
auto-format = true
indent = { tab-width = 2, unit = "  " }
grammar = "jinja2"

[[grammar]]
name = "jinja2"
source = { git = "https://github.com/varpeti/tree-sitter-jinja2.git", rev = "a533cd3c33aea6acb0f9bf9a56f35dcfe6a8eb53" }

[[language]]
name = "css"

[[language]]
name = "typescript"
roots = ["deno.json", "deno.jsonc"]
file-types = ["ts", "tsx"]
auto-format = true
language-servers = ["deno-lsp"]

[[language]]
name = "javascript"
roots = ["deno.json", "deno.jsonc"]
file-types = ["js", "jsx"]
auto-format = true
language-servers = ["deno-lsp"]

[[language]]
name = "javascript"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
    "inlay-hints",
  ] },
  "biome",
]
auto-format = true

[[language]]
name = "typescript"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
    "inlay-hints",
  ] },
  "biome",
]
auto-format = true

[[language]]
name = "tsx"
auto-format = true
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
    "inlay-hints",
  ] },
  "biome",
]

[[language]]
name = "jsx"
auto-format = true
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
]

[[languages]]
name = "go"
auto-format = true
formatter = { command = "goimports" }

[[language]]
name = "elixir"
scope = "source.elixir"
file-types = ["ex", "exs", "heex"]
auto-format = true
diagnostic-severity = "hint"
comment-token = "#"
indent = { tab-width = 2, unit = " " }
injection-regex = "(elixir|ex)"
shebangs = ["elixir"]
roots = ["mix.exs", "mix.lock"]
language-servers = ["elixir-ls"]

[[language]]
name = "zig"
auto-format = true

[[language]]
name = "svelte"
auto-format = true
language-servers = [
  { name = "svelteserver", except-features = [
    "format",
  ] },
  "biome",
]
