layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zjstatus" {
								color_bg0 "#282828" //dark0
								color_bg1 "#3c3836" //dark1
								color_bg2 "#504945" //dark2
								color_bg3 "#665c54" //dark3
								color_bg4 "#7c6f64" //dark4
								color_fg0 "#fbf1c7" //light0
								color_fg1 "#ebdbb2" //light1
								color_fg2 "#d5c4a1" //light2
								color_fg3 "#bdae93" //light3
								color_fg4 "#a89984" //light4
								color_red "#fb4934" // bright_red
								color_green "#b8bb26" //bright_green
								color_yellow "#fabd2f" // bright_yellow
								color_blue "#83a598" //bright_blue
								color_purple "#d3869b" //bright_purple
								color_aqua "#8ec07c" //bright_aqua
								color_gray "#a89984" //bright_gray
								color_orange "#fe8019" //bright_orange
								color_neutral_red "#cc241d" //neutral_red
								color_neutral_green "#98971a" //neutral_green
								color_neutral_yellow "#d79921" //neutral_yellow
								color_neutral_blue "#458588" //neutral_blue
								color_neutral_purple "#b16286" //neutral_purple
								color_neutral_aqua "#689d6a" //neutral_aqua
								color_neutral_gray "#928374" //neutral_gray
								color_neutral_orange "#d65d0e" //neatural_orange

                format_left   "{mode} {tabs}"
                format_center ""
                format_right  "{pipe_zjstatus_hints}{datetime}#[bg=$bg1,fg=$bg2,bold] {session} "
                format_space  ""

                pipe_zjstatus_hints_format "{output}"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=$bg1]{char}"
                border_position "top"

                hide_frame_for_single_pane "false"

                mode_locked      "#[bg=$red,fg=$bg2,bold] ❤ "
                mode_normal      "#[bg=$bg3,fg=$bg2,bold] ❤ NORMAL "
                mode_resize      "#[bg=$yellow,fg=$bg2,bold] ❤ RESIZE "
                mode_pane        "#[bg=$aqua,fg=$bg2,bold] ❤ PANE "
                mode_move        "#[bg=$yellow,fg=$bg2,bold] ❤ MOVE "
                mode_tab         "#[bg=$aqua,fg=$bg2,bold] ❤ TAB "
                mode_scroll      "#[bg=$blue,fg=$bg2,bold] ❤ SCROLL "
                mode_search      "#[bg=$blue,fg=$bg2,bold] ❤ SEARCH "
                mode_entersearch "#[bg=$blue,fg=$bg2,bold] ❤ ENTER SEARCH "
                mode_renametab   "#[bg=$yellow,fg=$bg2,bold] ❤ RENAME TAB "
                mode_renamepane  "#[bg=$yellow,fg=$bg2,bold] ❤ RENAME PANE "
                mode_session     "#[bg=$purple,fg=$bg2,bold] ❤ SESSION "
                mode_tmux        "#[bg=$green,fg=$bg2,bold] ❤ TMUX "

                tab_active              "#[bg=$yellow,fg=$bg1,bold] {index} {name} "
                tab_active_fullscreen   "#[bg=$yellow,fg=$bg1,bold] {fullscreen_indicator} {index} {name} "
                tab_active_sync         "#[bg=$yellow,fg=$bg1,bold] {sync_indicator} {index} {name} "

                tab_normal              "#[bg=$bg2,fg=$bg1,bold] {index} {name} "
                tab_normal_fullscreen   "#[bg=$bg2,fg=$bg1,bold] {fullscreen_indicator} {index} {name} "
                tab_normal_sync         "#[bg=$bg2,fg=$bg1,bold] {sync_indicator} {index} {name} "

                tab_separator " "

                tab_sync_indicator       "󰓦"
                tab_fullscreen_indicator "󰊓"
                tab_floating_indicator   "⬚"


                tab_display_count         "9"
                tab_truncate_start_format "#[fg=$bg1]  +{count}  "
                tab_truncate_end_format   "#[fg=$bg1]   +{count} "

                datetime        "#[fg=$bg1,bold] {format} "
                datetime_format "%H:%M:%S"
                datetime_timezone "America/Los_Angeles"
            }
        }
    }
    tab name=""
}