(
    selected_tab: Some("#7e9cd8"),
    command_fg: Some("#dcd7ba"),
    selection_bg: Some("#2d4f67"),
    selection_fg: Some("#c8c093"),
    cmdbar_bg: Some("#1f1f28"),
    cmdbar_extra_lines_bg: Some("#2a2a37"),
    disabled_fg: Some("#727169"),
    diff_line_add: Some("#98bb6c"),
    diff_line_delete: Some("#e82424"),
    diff_file_added: Some("#98bb6c"),
    diff_file_removed: Some("#e82424"),
    commit_hash: Some("#957fb8"),
    commit_time: Some("#7aa89f"),
    commit_author: Some("#e6c384"),
    danger_fg: Some("#e82424"),
    success_fg: Some("#98bb6c"),
    warning_fg: Some("#ff9e3b"),
    info_fg: Some("#7e9cd8"),
    searching_bg: Some("#ff9e3b"),
)